<!DOCTYPE html>
<html>
<head>
    <meta charset=“UTF-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
   

 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/public/css/nav.css">
</head>
<body>

<div class="topnav">
  <div class="left-section">
    <a class="active"    href="/homepage">   <i class="fa-solid fa-house" style="color:#ffffff;"></i>  Home </i></a>
    <a href="/account"><i class="fa-solid fa-user" style="color: #ffffff;"></i>  Account</a>
    <a href="/trending"><i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>  <span> </span> Trending</a>
    <a href="/cartt"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>  Cart</a>
    <button id="darkModeToggle" style="
            background-color: #333; 
            border: 1px solid #ccc; 
            border-radius: 10px; 
            padding: 0.05px; 
            cursor: pointer; 
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            outline: none; 
            margin-right: 40px;
          ">
            <img id="icon" src="/Pictures/sun_120349 (1).png" width=50% alt="Dark Mode Toggle" style="
              display: block; /* Remove extra space below the image /
              width: 10px; / Set image size /
              height: 10px; / Set image size */
            ">
          </button>
  </div>
  <span style="color: white;"><i class="fa-solid fa-location-dot" style="color: #c57f50;"></i> Deliver to <strong>Egypt</strong></span>
  
</div>
<script src="/"></script>
</body>
</html>
