<!DOCTYPE html>
<html>
<head>
    <meta charset=“UTF-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
   

 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/public/css/nav.css">
</head>
<body>

<div class="topnav">
  <div class="left-section">
    <a class="active"    href="/homepage">   <i class="fa-solid fa-house" style="color:#ffffff;"></i>  Home </i></a>
    <a href="/account"><i class="fa-solid fa-user" style="color: #ffffff;"></i>  Account</a>
    <a href="/feedback"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>  Contact</a>
    <a href="/cartt"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>  Cart</a>
    <button id="darkModeToggle" class="dark-mode-toggle">
      <img id="icon" src="/public/Pictures/sun_120349 (1).png" alt="Dark Mode Toggle">
  </button>
  </div>
  <span style="color: white;"><i class="fa-solid fa-location-dot" style="color: #c57f50;"></i> Deliver to <strong>Egypt</strong></span>
  
</div>
<script src="/"></script>
</body>
</html>
