<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>buy history</title>
        <link rel="stylesheet" href="/css/buy.css">
    </head>
</html>
<body>
    <h1>Buy History</h1>
    <hr>

    <div class="container">
        <table id="buy-history-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <button onclick=" window.history.back() " id="back" type="button">Back</button>

</body>
