body {
    font-family: Arial, sans-serif;
    background-color: #FDF2E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to left , #ffe8c9 , white);
  }
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding */
    max-width: 500px;
    border-radius: 10px;
    width: 100%;
    border: solid 2px #333;
  }
  .card h2 {
    font-size: 22px;
    color: #9b6749;
    margin-bottom: 30px; /* Increased margin */
  }
  .input-group {
    margin-bottom: 30px; /* Increased margin */
  }
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .input-group input {
    width: 100%;
    padding: 15px; /* Increased padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Additional margin for spacing */
  }
  .btn {
    padding: 15px; /* Increased padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Set width to ensure proper spacing */
    font-size: 18px;
    text-align: center;
  }
  .btn-back {
    background-color:#2c3e50; /* Grey for back button */
    color: white;
    
  }
  .btn-back:hover {
    background-color: #222a31;
  }
  .btn-submit {
    background-color: #c57f50; /* Facebook blue */
    color:white;
  }
  .btn-submit:hover {
    background-color:#b36b40;
  }